{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "sharebin",
	"main": "src/index.ts",
	"compatibility_date": "2025-12-24",
	"routes": [
		{
			"pattern": "your-domain.com",
			"custom_domain": true
		},
		{
			"pattern": "your-second-domain.com",
			"custom_domain": true
		}
	],
	"assets": {
		"directory": "dist",
		"binding": "ASSETS",
		"not_found_handling": "none"
	},
	"d1_databases": [
		{
			"binding": "DB",
			"database_name": "SHARE_DB",
			"database_id": "REPLACE_WITH_YOUR_D1_DATABASE_ID"
		}
	],
	"kv_namespaces": [
		{
			"binding": "LIMITER",
			"id": "REPLACE_WITH_YOUR_KV_ID"
		}
	],
	"vars": {
		"TURNSTILE_SITE_KEY": "REPLACE_WITH_YOUR_TURNSTILE_SITE_KEY"
	},
	"triggers": {
		"crons": [
			"0 * * * *"
		]
	}
}